<table style="width:100%">
<tr>
	<td><h1><strong> Software Development </strong></h1></td>
    <td align="right"><%= link_to "GO BACK", root_path, :class=>"btn" %></td>
</tr>
</table>


<hr><br>


   


<div class="row">
	<div class="col-md-2">
		<a id="b1" data-src="http://www.getbootstrap.com" onClick="loadFrame(this)"><h2>Some Development Info</h2></a>
		<br><hr><br>
		<a id="b2" data-src="/" onClick="loadFrame(this)"><h2>Some Development Info</h2></a>
		<br><hr><br>
		<a id="b3" data-src="/design" onClick="loadFrame(this)"><h2>Some Development Info</h2></a>
		<br><hr><br>
		<a id="b4" data-src="/design" onClick="loadFrame(this)"><h2>Some Development Info</h2></a>
		<br><hr><br>
		<a id="b5" data-src="/design" onClick="loadFrame(this)"><h2>Some Development Info</h2></a>
		<br><hr><br>
	</div>
	 <div class="col-md-10">
 <iframe id="frame1" scrolling="yes" style="border:none" width="100%" height="700px"></iframe>


</div>

