

<div class="jumbotron">
  <h1 align=center>WHAT IS STOPPING YOU FROM GETTING SH*T DONE?</h1> 
</div>


<div class="row" align=center>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="images/legal.jpg" alt="...">
      <div class="caption">
        <h3>LEGAL</h3>
        <p><a href="/legal" class="btn btn-default" role="button">ME!</a></p>
      </div>
    </div>
  </div>



  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="images/design.jpg" alt="...">
      <div class="caption">
        <h3>DESIGN</h3>
        <p><a href="/design" class="btn btn-primary" role="button">ME!</a></p>
      </div>
    </div>
  </div>


  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="images/development.jpg" alt="...">
      <div class="caption">
        <h3>SOFTWARE DEVELOPMENT</h3>
        <p><a href="/development" class="btn btn-default" role="button">ME!</a></p>
      </div>
    </div>
  </div>




  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="images/mvp.jpg" alt="...">
      <div class="caption">
        <h3>MINIMUM VIABLE PRODUCT</h3>
        <p><a href="/mvp" class="btn btn-primary" role="button">ME!</a></p>
      </div>
    </div>
  </div>


  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="images/social.jpg" alt="...">
      <div class="caption">
        <h3>SOCIAL NETWORK MARKETING</h3>
        <p><a href="/social" class="btn btn-default" role="button">ME!</a></p>
      </div>
    </div>
  </div>


  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="images/none.jpg" alt="...">
      <div class="caption">
        <h3>NONE OF THE ABOVE</h3>
        <p><a href="/none" class="btn btn-primary" role="button">ME!</a></p>
      </div>
    </div>
  </div>
</div>
