<h1 align=center><strong>News Sites</strong></h1>
<table class="table table-striped">
	<tr>
		<th><h4><strong>Programmer/ <br> Developer <br> Specific <br> News Sites</strong></h4></th>
		<td><a href="https://news.ycombinator.com/" target="_blank"><img src="http://1piygz303e2p3ze2nt2kfhla.wpengine.netdna-cdn.com/wp-content/uploads/2013/08/websites-for-developers-1.gif"></a></td>
		<td><a href="https://slashdot.org/" target="_blank"><img src="http://icons.iconarchive.com/icons/sicons/basic-round-social/512/slashdot-icon.png" height="100px" width="100px"></a></td>
		<td><a href="https://www.reddit.com/r/programming/" target="_blank"><img src="http://www.siliconbeat.com/wp-content/uploads/2014/11/reddit-logo-01-674x501.jpg" height="100px" width="130px"></a></td>
	</tr>
	<tr>
		<th><h4><strong>Name</strong></h4></th>
		<td>&nbsp;&nbsp;Hacker News</td>
		<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Slash Dot</td>
		<td>Reddit Programming</td>
	</tr>

<tr>
		<th><h4><strong>Description</strong></h4></th>
		<td>It is similar to Reddit<br> but for developers</td>
		<td>Latest blog posts<br> and news' stories<br> relating to technology <br>and coding</td>
		<td>A Reddit sub-group<br> for developers</td>
	</tr>

</table>


<br><br><br><br><br>





<h1 align=center><strong>Help With Coding</strong></h1>
<table class="table table-striped">
	<tr>
		<th><h4><strong>Learn <br> How to <br> Code</strong></h4></th>
		<td><a href="http://ocw.mit.edu/index.htm" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0c/MIT_logo.svg/1000px-MIT_logo.svg.png" height="100px" width="120px"></a></td>
		<td><a href="https://www.coursera.org/" target="_blank"><img src="https://az168019.vo.msecnd.net/content/img/univlogo/coursera.png" height="100px" width="100px"></a></td>
		<td><a href="https://www.codecademy.com/" target="_blank"><img src="https://blogs.commons.georgetown.edu/cctp-748-fall2014/files/2014/03/codecademy-logo.png" height="100px" width="100px"></a></td>
		<td><a href="http://tutsplus.com/" target="_blank"><img src="http://studio.envato.com/freelance-switch-content/img/logo-tuts.png" height="100px" width="100px"></a></td>
		<td><a href="http://sourceforge.net/" target="_blank"><img src="http://logonoid.com/images/sourceforge-logo.png" height="100px" width="100px"></a></td>
		<td><a href="https://developers.google.com/" target="_blank"><img src="http://www.userlogos.org/files/logos/inductiveload/Google%20Developers%20rectangle.png" height="100px" width="120px"></a></td>
		<td><a href="http://stackoverflow.com/" target="_blank"><img src="http://works.mihaimoga.com/stackoverflow_logo.jpg" height="100px" width="100px"></a></td>
		<td><a href="http://www.smashingmagazine.com/" target="_blank"><img src="http://www.getacoder.com/blog/wp-content/uploads/2013/12/smashing_magazine_logo5-150x150.jpg" height="100px" width="120px"></a></td>
		<td><a href="https://github.com/" target="_blank"><img src="http://knightlab.northwestern.edu/wp-content/uploads/2013/04/github-octodex.jpg" height="100px" width="100px"></a></td>
		<td><a href="http://hackr.io/" target="_blank"><img src="http://wwwhere.io/img/thumbs/hackr.jpg" height="100px" width="100px"></a></td>
	</tr>
	<tr>
		<th><h4><strong>Name</strong></h4></th>
		<td>MIT OpenCourseWare</td>
		<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Coursera</td>
		<td>Code Academy</td>
		<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;TutsPlus</td>
		<td>&nbsp;&nbsp;SourceForge</td>
		<td>Google Developers</td>
		<td>StackOverflow</td>
		<td>Smashing Magazine</td>
		<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;GitHub</td>
		<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Hackr.io</td>
	</tr>

<tr>
		<th><h4><strong>Description</strong></h4></th>
		<td>MIT OpenCourseWare <br> is a web-based publication <br> of virtually all MIT course<br> content</td>
		<td>Free online classes  <br>from top Universities </td>
		<td>Free and interactive <br> way to learn how to <br> code in a number <br>of languages</td>
		<td>Tutorials on just<br> about anything <br>related to coding</td>
		<td>Access to all the<br> open source code<br>you will ever need</td>
		<td>Tips and tricks for <br> coders provided <br> by Google</td>
		<td>It’s just like the <br>popular Q&A site <br>Quora, but strictly<br> for developers</td>
		<td>Coding tips, tricks, and <br> ideas from today’s <br> leading professionals</td>
		<td>A Web-based Git <br> repository hosting <br> service, which <br> offers SCM</td>
		<td>More than 500+ <br> tutorials and courses <br> on Python, Javascript,<br> HTML 5, Swift, <br>Android and more</td>
	</tr>

</table>


<br><br><br><br><br>









<h1 align=center><strong>Have Fun Online as a Developer</strong></h1>
<table class="table table-striped">
	<tr>
		<th><h4><strong>Fun Websites <br> For Developers</strong></h4></th>

		<td><a href="http://programmingpraxis.com/" target="_blank"><img src="http://i.imgur.com/CkNe03M.jpg" height="100px" width="auto"></a></td>
		<td><a href="https://www.hackerrank.com/" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/en/thumb/d/df/HackerRank_logo_with_slogan.png/799px-HackerRank_logo_with_slogan.png" height="100px" width="auto"></a></td>
		<td><a href="http://xkcd.com/" target="_blank"><img src="http://swiftkey.com/en/wp-content/uploads/2014/09/xkcd-copy.png" height="100px" width="auto"></a></td>
		<td><a href="http://blog.codinghorror.com/" target="_blank"><img src="http://basementcoders.com/wp-content/uploads/2012/10/coding-horror.png" height="100px" width="auto"></a></td>
	</tr>
	<tr>
		<th><h4><strong>Name</strong></h4></th>
		<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Programming Praxis</td>
		<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;HackerRank</td>
		<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;xkcd</td>
		<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Coding Horror</td>
	</tr>

<tr>
		<th><h4><strong>Description</strong></h4></th>
		<td>Games to keep your programming skills sharp</td>
		<td>Complete a timed challenge and possibly get recruited by Facebook</td>
		<td>A hilarious daily web comic <br>often related to computing</td>
		<td>A fantastic blog <br>about programming</td>
	</tr>

</table>




<br><br><br><br><br>



<h1 align=center><strong>Tech News</strong></h1>
<table class="table table-striped">
	<tr>
		<th><h4><strong>General Tech <br> News Sites <br> For Developers</strong></h4></th>
		<td><a href="http://arstechnica.com/" target="_blank"><img src="http://static.tumblr.com/hxbvg4c/QIxme5sfb/ars-light_logoonly_copy_2.png" width="100px" height="100px"></a></td>
		<td><a href="http://thenextweb.com/" target="_blank"><img src="https://www.realtyshares.com/Media/Default/images/next%20web.png" height="100px" width="100px"></a></td>
		<td><a href="http://techcrunch.com/" target="_blank"><img src="https://www.realtyshares.com/Media/Default/images/-5-1.jpeg" height="100px" width="100px"></a></td>
	</tr>
	<tr>
		<th><h4><strong>Name</strong></h4></th>
		<td>&nbsp;&nbsp;Ars Technica</td>
		<td>&nbsp;&nbsp;The Next Web</td>
		<td>&nbsp;&nbsp;&nbsp;TechCrunch</td>
	</tr>


</table>